* {
    background-color: dimgray;
    text-align: center;
}

button,
a {
    background-color: aqua;
    font-size: medium;
    font-weight: 600;
}

h1, h2, h3, h4 {
    color: coral;
}

.unordered-list,
.ordered-list,
li,
strong,
div,
p {
    background-color: darkseagreen;
}