* {
    background-color: dimgray;
    text-align: center;
}

button,
a {
    background-color: aqua;
}

h1, h2, h3, h4 {
    color: coral;
}

p {
    background-color: darkseagreen;
}

.unordered-list,
.ordered-list,
li,
strong,
div {
    background-color: darkseagreen;
}